<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


	<!-- Beans Declaration -->

	<bean id="Usuario" class="com.unbosque.entidad.Usuario" />
	<bean id="Departamento" class="com.unbosque.entidad.Departamento" />
	<bean id="Ciudad" class="com.unbosque.entidad.Ciudad" />
	<bean id="Proyecto" class="com.unbosque.entidad.Proyecto" />
	<bean id="Odontograma" class="com.unbosque.entidad.Odontograma" />
	<bean id="Paciente" class="com.unbosque.entidad.Paciente" />
	<bean id="Diente" class="com.unbosque.entidad.Diente" />
	<bean id="Donto" class="com.unbosque.entidad.Donto" />
	

	<!-- User Service Declaration -->

	<bean id="UsuarioService" class="com.unbosque.service.UsuarioService">
		<property name="UsuarioDAO" ref="UsuarioDAO" />
	</bean>

	<bean id="DepartamentoService" class="com.unbosque.service.DepartamentoService">
		<property name="DepartamentoDAO" ref="DepartamentoDAO" />
	</bean>

	<bean id="CiudadService" class="com.unbosque.service.CiudadService">
		<property name="CiudadDAO" ref="CiudadDAO" />
	</bean>

	<bean id="ProyectoService" class="com.unbosque.service.ProyectoService">
		<property name="ProyectoDAO" ref="ProyectoDAO" />
	</bean>

	<bean id="OdontogramaService" class="com.unbosque.service.OdontogramaService">
		<property name="OdontogramaDAO" ref="OdontogramaDAO" />
	</bean>
	
	<bean id="PacienteService" class="com.unbosque.service.PacienteService">
		<property name="PacienteDAO" ref="PacienteDAO" />
	</bean>
	
		<bean id="DienteService" class="com.unbosque.service.DienteService">
		<property name="DienteDAO" ref="DienteDAO" />
	</bean>
	
	<bean id="DontoService" class="com.unbosque.service.DontoService">
		<property name="DontoDAO" ref="DontoDAO" />
	</bean>
	


	<!-- User DAO Declaration -->

	<bean id="UsuarioDAO" class="com.unbosque.dao.UsuarioDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

	<bean id="DepartamentoDAO" class="com.unbosque.dao.DepartamentoDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	
	<bean id="CiudadDAO" class="com.unbosque.dao.CiudadDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

	<bean id="ProyectoDAO" class="com.unbosque.dao.ProyectoDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

	<bean id="OdontogramaDAO" class="com.unbosque.dao.OdontogramaDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	
	<bean id="PacienteDAO" class="com.unbosque.dao.PacienteDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

	<bean id="DienteDAO" class="com.unbosque.dao.DienteDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>
	
	<bean id="DontoDAO" class="com.unbosque.dao.DontoDAO">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>


	<!-- Data Source Declaration -->
	<bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/BDCaries" />
		<property name="user" value="postgres" />
		<property name="password" value="root" />
		<property name="maxPoolSize" value="10" />
		<property name="maxStatements" value="0" />
		<property name="minPoolSize" value="5" />
	</bean>

	<!-- Session Factory Declaration -->
	<bean id="SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="DataSource" />
		<property name="annotatedClasses">
			<list>

				<value>com.unbosque.entidad.Usuario</value>
				<value>com.unbosque.entidad.Departamento</value>
				<value>com.unbosque.entidad.Ciudad</value>
				<value>com.unbosque.entidad.Proyecto</value>
				<value>com.unbosque.entidad.Odontograma</value>
				<value>com.unbosque.entidad.Paciente</value>
				<value>com.unbosque.entidad.Diente</value>
				<value>com.unbosque.entidad.Donto</value>
				
				
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>


	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Transaction Manager is defined -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

</beans>